<footer>
    <div class="footer-content">
        <div class="footer-section">
            <h4>About Us</h4>
            <p>A product of xxavvMusik in coordination with xxavvTechnologies</p>
        </div>
        <div class="footer-section">
            <h4>Contact</h4>
            <p>General Support: support@xmusik.space</p>
            <p>Technical Support: support.xts@xxavvgroup.com</p>
        </div>
        <div class="footer-section">
            <h4>Legal</h4>
            <p>&copy;2025 xxavvMusik & xxavvTechnologies. All rights reserved.</p>
        </div>
    </div>
</footer>
